html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-tauri-drag-region] {
  -webkit-app-region: drag;
}

[data-tauri-drag-region] button,
[data-tauri-drag-region] a {
  -webkit-app-region: no-drag;
}

::selection {
  background-color: var(--chakra-colors-blue-solid);
  color: var(--chakra-colors-blue-contrast);
}
